if hexo-fonfig('rootConfig.prismjs.line_number')
  @require 'line-number'

if $highlight_theme != false
  @require 'diff'

#article-container
  pre[class*='language-']
    &::-webkit-scrollbar-thumb
      background: $highlight-scrollbar

    &:not(.line-numbers)
      padding: 10px 20px