- let config = theme.newest_comments

if config.valine
  include ./valine.pug
else if config.waline
  include ./waline.pug
else if config.github_issues.enable
  include ./github-issues.pug
else if config.disqus.enable
  include ./disqus-comment.pug
else if config.twikoo
  include ./twikoo-comment.pug