link(rel="stylesheet" type="text/css" href=theme.CDN.katex)
script(src=url_for(theme.CDN.katex_copytex))
link(rel="stylesheet" type="text/css" href=theme.CDN.katex_copytex_css)
script.
  $(function () {
    $('span.katex-display').wrap('<div class="katex-wrap"></div>')
  })