script.
  function panguFn () {
    if (typeof pangu === 'object') pangu.spacingElementById('content-inner')
    else {
      $.getScript('!{url_for(theme.CDN.pangu)}', () => {
        pangu.spacingElementById('content-inner')
      })
    }
  }

  function panguInit () {
    if (!{theme.pangu.field === 'post'}){
      GLOBAL_CONFIG_SITE.isPost && panguFn()
    } else {
      panguFn()
    }
  }

  document.addEventListener('DOMContentLoaded', panguFn)
