script(src=url_for(theme.CDN.pangu))
if theme.pangu.field === 'post'
  if is_post()
    script.
      document.addEventListener('DOMContentLoaded', function() {
          pangu.spacingElementById('content-inner')
      })
else if theme.pangu.field === 'page'
  script.
    document.addEventListener('DOMContentLoaded', function() {
          pangu.spacingElementById('content-inner')
    })

