script.
  (() => {
    const panguFn = () => {
      if (typeof pangu === 'object') pangu.autoSpacingPage()
      else {
        btf.getScript('!{url_for(theme.asset.pangu)}')
          .then(() => {
            pangu.autoSpacingPage()
          })
      }
    }

    const panguInit = () => {
      if (!{theme.pangu.field === 'post'}){
        GLOBAL_CONFIG_SITE.isPost && panguFn()
      } else {
        panguFn()
      }
    }

    btf.addGlobalFn('pjaxComplete', panguInit, 'pangu')
    document.addEventListener('DOMContentLoaded', panguInit)
  })()
