if config.prismjs && config.prismjs.enable && !config.prismjs.preprocess
  script(src=url_for(theme.CDN.prismjs_js))
  script(src=url_for(theme.CDN.prismjs_autoloader))
  if config.prismjs.line_number
    script(src=url_for(theme.CDN.prismjs_lineNumber_js))
