#algolia-search
  .search-dialog
    nav.search-nav
      span.search-dialog-title= 'Algolia'
      button.search-close-button
        i.fas.fa-times

    .search-wrap
      #algolia-search-input
      hr
      #algolia-search-results
        #algolia-hits
        #algolia-pagination
        #algolia-stats
  
  #search-mask
