#local-search
  .search-dialog
    #local-search-title.search-dialog__title=_p("local_search.label")
    #local-input-panel
      #local-search-input
        .local-search-box
          input(placeholder=_p("local_search.input_placeholder") type="text").local-search-box--input
    hr
    #local-search-results
    span.search-close-button
      i.fas.fa-times
  #search-mask