.addtoany
    .a2a_kit.a2a_kit_size_32.a2a_default_style
        a.a2a_button_facebook
        a.a2a_button_twitter
        a.a2a_button_wechat
        a.a2a_button_sina_weibo
        a.a2a_button_facebook_messenger
        a.a2a_button_email
        a.a2a_button_copy_link
        a.a2a_dd(href="https://www.addtoany.com/share")
script(async src="https://static.addtoany.com/menu/page.js")


