if (theme.sharejs && theme.sharejs.enable)
  .social-share(data-image= page.cover|| theme.avatar data-sites= theme.sharejs.sites)
  link(rel="stylesheet" href=url_for(theme.CDN.sharejs_css))
  script(src=url_for(theme.CDN.sharejs))