script.
  if (document.getElementsByClassName('mermaid').length) {
    loadScript('!{theme.CDN.mermaid}',function () {
      mermaid.initialize({
        theme: '!{theme.mermaid.theme}',
    })
  })
  }