- var d = theme.disqus && theme.disqus.enable
- var dj = theme.disqusjs && theme.disqusjs.enable
- var l = theme.livere && theme.livere.enable
- var gt = theme.gitalk && theme.gitalk.enable
- var v = theme.valine && theme.valine.enable
- var u = theme.utterances && theme.utterances.enable
- var fb = theme.facebook_comments && theme.facebook_comments.enable
- var isComment = d || dj || l || gt || v || u || fb

if isComment
  hr
  #post-comment
    .comment_headling
      i.fas.fa-comments.fa-fw
      span= ' ' + _p('comment')
    if d
      include ./disqus.pug
    else if dj
      include ./disqusjs.pug
    else if l
      include ./livere.pug
    else if gt
      include ./gitalk.pug
    else if v
      include ./valine.pug
    else if u
      include ./utterances.pug
    else if fb
      include ./facebook_comments.pug