each name in theme.comments.use
  case name
    when 'Valine'
      !=partial('includes/comments/valine', {}, {cache:theme.fragment_cache})
    when 'Disqus'
      include ./disqus.pug
    when 'Disqusjs'
      include ./disqusjs.pug
    when 'Livere'
      !=partial('includes/comments/livere', {}, {cache:theme.fragment_cache})
    when 'Gitalk'
      include ./gitalk.pug
    when 'Utterances'
      !=partial('includes/comments/utterances', {}, {cache:theme.fragment_cache})
    when 'Facebook Comments'
      !=partial('includes/comments/facebook_comments', {}, {cache:theme.fragment_cache})
