if page.comments !== false && theme.comments.use && theme.comments.use.includes('Facebook Comments')
  if theme.facebook_comments.app_id
    meta(property="fb:app_id" content=theme.facebook_comments.app_id )
  if theme.facebook_comments.user_id
    meta(property="fb:admins" content=theme.facebook_comments.user_id)