script.
  var GLOBAL_CONFIG_SITE = { 
    isPost: !{is_post()},
    isHome: !{is_home()},
    isSidebar: !{is_post() && page.toc !== false && theme.toc.enable && (toc(page.content) !== '' || page.encrypt == true )}  
    }

