link(rel="preconnect" href="//cdn.jsdelivr.net")
link(rel="dns-prefetch" href="//cdn.jsdelivr.net")

if theme.google_analytics
  link(rel="preconnect" href="https://www.google-analytics.com" crossorigin)
  link(rel="dns-prefetch" href="https://www.google-analytics.com")

if theme.baidu_analytics
  link(rel="preconnect" href="https://hm.baidu.com")
  link(rel="dns-prefetch" href="https://hm.baidu.com")

if theme.tencent_analytics
  link(rel="preconnect" href="http://ta.qq.com")
  link(rel="dns-prefetch" href="http://ta.qq.com")

if theme.blog_title_font.font_link
  link(rel="preconnect" href="https://fonts.googleapis.com" crossorigin)
  link(rel="dns-prefetch" href="https://fonts.googleapis.com")

if theme.busuanzi.site_uv || theme.busuanzi.site_pv || theme.busuanzi.page_pv
  link(rel="preconnect" href="//busuanzi.ibruce.info")
  link(rel="dns-prefetch" href="//busuanzi.ibruce.info")
