noscript. 
  <style type="text/css">
    #nav {
      opacity: 1
    }
    .justified-gallery img {
      opacity: 1
    }

    #recent-posts time,
    #post-meta time {
      display: inline !important
    }
  </style>