#algolia-search.search-dialog
  #algolia-search-title.search-dialog__title Algolia
  #algolia-input-panel
    #algolia-search-input
  hr
  #algolia-search-results
    #algolia-hits
    #algolia-pagination
    #algolia-stats
  span.search-close-button
    i.fa.fa-times
.search-mask
