#local-search.search-dialog
  #local-search-title.search-dialog__title=_p("local_search.label")
  #local-input-panel
    #local-search-input
      .local-search-box
        input(placeholder=_p("local_search.input_placeholder")).local-search-box--input
  hr
  #local-search-results
    #local-hits
    #local-stats
      #hr.local-search-stats__hr
        case config.language
          when "zh-CN"
            span=_p("local_search.by")
            |  #[a(href="https://github.com/wzpan/hexo-generator-search" style={'color': '#49B1F5'}) hexo-generator-search]
            |  #[span=_p("local_search.powered")]
          when "en"
          default
            span=_p("local_search.powered_by")
            |  #[a(href="https://github.com/wzpan/hexo-generator-search" style={'color': '#49B1F5'}) hexo-generator-search]
  span.search-close-button
    i.fa.fa-times
.search-mask