/* 

        透明背景
        https://akilar.top/posts/ebf20e02/
        
*/

/* 首页文章卡片 */
#recent-posts > .recent-post-item {
  background: rgba(255, 255, 255, 0.85);
}
/* 首页侧栏卡片 */
.card-widget {
  background: rgba(255, 255, 255, 0.85) !important;
}
/* 文章页面正文背景 */
div#post {
  background: rgba(255, 255, 255, 0.85);
}
/* 分页页面 */
div#page {
  background: rgba(255, 255, 255, 0.85);
}
/* 归档页面 */
div#archive {
  background: rgba(255, 255, 255, 0.85);
}
/* 标签页面 */
div#tag {
  background: rgba(255, 255, 255, 0.85);
}
/* 分类页面 */
div#category {
  background: rgba(255, 255, 255, 0.85);
}

#footer {
  opacity: 0.5;
}

/* 页脚透明 */
#footer {
  background: transparent !important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before {
  background: transparent !important;
}
/* 头图透明 */
#page-header {
  background: transparent !important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent !important;
}

/* 

        阅读模式修改

*/

.read-mode #aside-content .card-widget {
  background: rgba(158, 204, 171, 0.5) !important;
}
.read-mode div#post {
  background: rgba(158, 204, 171, 0.5) !important;
}

/* 

        夜间模式修改

*/

/*夜间模式伪类遮罩层透明*/
[data-theme="dark"] #footer::before {
  background: transparent !important;
}
[data-theme="dark"] #page-header::before {
  background: transparent !important;
}

/* 首页文章卡片 */
[data-theme="dark"] #recent-posts > .recent-post-item {
  background: rgba(0, 0, 0, 0.5) !important;
}

/* 头图透明 */
[data-theme="dark"] #aside-content .card-widget {
  background: rgba(0, 0, 0, 0.5) !important;
}

/* 文章页面正文背景 */
[data-theme="dark"] div#post {
  background: rgba(0, 0, 0, 0.5) !important;
}

/* 

        夜间阅读模式

*/

[data-theme="dark"] .read-mode #aside-content .card-widget {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #ffffff;
}
[data-theme="dark"] .read-mode div#post {
  background: rgba(0, 0, 0, 0.5) !important;
  color: #ffffff;
}
