// import fonts

@font-face{
  font-family: 'FZFWZhuZiAYuanJWM' ;
  src: url('../fonts/FZFWZhuZiAYuanJWM.TTF');
}

@font-face{
  font-family: 'SourceCodePro-Regular' ;
  src: url('../fonts/SourceCodePro-Regular.TTF');
}