/* 

    symbol导入iconfont的SVG图标，加以侧边栏动效

 */

svg.icon {
  width: 1em;
  height: 1em;
  /* width和height定义图标的默认宽度和高度*/
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#aside-content .card-info .card-info-social-icons svg {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -ms-transition: all 0.3s;
  transition: all 0.3s;
}

#aside-content .card-info .card-info-social-icons svg:hover {
  -webkit-transform: rotate(540deg);
  -moz-transform: rotate(540deg);
  -o-transform: rotate(540deg);
  -ms-transform: rotate(540deg);
  transform: rotate(540deg);
}

/* 

    全局引入字体

 */

@font-face {
  font-family: "FZFWZhuZiAYuanJWD"; /* 方正FW筑紫A圆 简 D */
  src: url("/fonts/FZFWZhuZiAYuanJD.OTF"); /* OTF 》 TTF */
  font-display: swap;
}

@font-face {
  font-family: "FiraCode"; /* Fira Code */
  src: url("/fonts/FiraCode-VF.ttf"); /* 字体文件路径 */
  font-display: swap;
}
