header#page-header {
    background-color: transparent
}

header#page-header:not(.not-top-img):before {
    background-color: transparent
    
}

#page-header,
#content-inner,
#footer,
#nav,
#nav.show,
#web_bg  {
    transition: none
    animation: none
}