@media screen and (min-width: 2000px)
  .layout {
    max-width: 55%;
  }

div.recent-post-item,
div.card-widget,
div#post,
div.search-dialog {
    border-radius: 18px !important
}

a.blog-slider__img {
  display: none
}