@media screen and (min-width: 2000px)
  .layout {
    max-width: 55%;
  }

div.recent-post-item,
div.card-widget,
div#post,
div.search-dialog {
    border-radius: 12px !important
}

// a.blog-slider__img {
//   display: none
// }

.cardHover, .layout > div:first-child:not(.recent-posts), #recent-posts > .recent-post-item, #aside-content .card-widget, .layout > .recent-posts .pagination > *:not(.space), {
  box-shadow: none
  &:hover {
    box-shadow: none
  }
}