if site.categories.length
  .card_widget.card-categories
      .card-content
        .item_headline
          i.fa.fa-folder-open(aria-hidden="true")
          span= _p('aside.card_categories')
        ul.aside_category_item        
          mixin displayCategories(parent = undefined) 
            - site.categories.find({ parent }).sort("name").each(function(category) {
                - var childCount = site.categories.find({ parent: category._id }).count();              
                li.aside_category_list
                  a.aside_category_list_link(href=url_for(category.path))
                    span.aside_category_list_name= category.name
                    span.aside_category_list_length= category.length
                  
                if childCount > 0
                  ul.aside_category_item.child
                    +displayCategories(category._id)
            - })

          +displayCategories()

  
