.card-widget(class='series_post' id='series_post')
  .item-headline
    i(class='fas fa-car-side')
    span 系列文章 #{Series}
  .item-content
    - let list = site.posts.sort('date', -1)
    ul(class='series_post_list')
      - list.each(function(article){
        if article.series == Series
          - let link = article.link || article.path
          - let title = article.title || _p('no_title')
          li
            a.title(href=url_for(link) title=title)= title
      - })

