.card-widget#card-newest-comments
  .card-content
    .item-headline
      i.fas.fa-bolt
      span= _p('aside.card_newest_comments.headline')
    .aside-list
      span= _p('aside.card_newest_comments.loading_text')
