#aside_content.aside_content
  if theme.aside.card_author.enable
    include ./card_author.pug
  .sticky_layout
    if theme.aside.card_announcement.enable
      include ./card_announcement.pug
    if theme.aside.card_recent_post.enable
      include ./card_recent_post.pug
    if theme.newest_comments.enable
      include ./card_newest_comment.pug
    if theme.ad && theme.ad.aside
      include ./card_ad.pug
    if theme.aside.card_categories.enable
      include ./card_categories.pug
    if theme.aside.card_tags.enable
      include ./card_tags.pug
    if theme.aside.card_archives.enable
      include ./card_archives.pug
    if theme.aside.card_webinfo.enable
      include ./card_webinfo.pug