#aside_content.aside_content
  !=partial('includes/widget/card_author', {}, {cache:theme.fragment_cache})
  !=partial('includes/widget/card_announcement', {}, {cache:theme.fragment_cache})
  .sticky_layout
    if is_post()
      if showToc
        include ./card_post_toc.pug
      !=partial('includes/widget/card_recent_post', {}, {cache:theme.fragment_cache})
      !=partial('includes/widget/card_ad', {}, {cache:theme.fragment_cache})
    else
      !=partial('includes/widget/card_recent_post', {}, {cache:theme.fragment_cache})
      !=partial('includes/widget/card_ad', {}, {cache:theme.fragment_cache})
      !=partial('includes/widget/card_newest_comment', {}, {cache:theme.fragment_cache})
      !=partial('includes/widget/card_categories', {}, {cache:theme.fragment_cache})
      !=partial('includes/widget/card_tags', {}, {cache:theme.fragment_cache})
      !=partial('includes/widget/card_archives', {}, {cache:theme.fragment_cache})
      !=partial('includes/widget/card_webinfo', {}, {cache:theme.fragment_cache})