if theme.aside.card_author
  include ./card_author.pug

if theme.aside.card_announcement
  include ./card_announcement.pug

if theme.aside.card_recent_post
  include ./card_recent_post.pug
  
if theme.aside.card_categories   
  include ./card_categories.pug

if theme.aside.card_tags
  include ./card_tags.pug

if theme.aside.card_archives
  include ./card_archives.pug

if theme.aside.card_webinfo
  include ./card_webinfo.pug
  