.tag-cloud
  &-list
    a
      display: inline-block
      margin: 2px
      padding: 2px 7px
      line-height: 1.7
      transition: all .3s
      addBorderRadius(5)

      &:hover
        background: var(--btn-bg) !important
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .2)
        color: var(--btn-color) !important

      +maxWidth768()
        zoom: .85

  &-title
    font-size: 2.57em

    +maxWidth768()
      font-size: 2em

.page-title
  & + .tag-cloud-list
    text-align: left
