.tag-cloud
  text-align: center

  a
    display: inline-block
    padding: 0 .4rem
    transition: all .3s

    &:hover
      color: $text-hover !important
      transform: scale(1.1)

  &__title
    font-size: 2.57em
