if theme.aside.card_author
  include widget/card_author.pug

if theme.aside.card_announcement
  include widget/card_announcement.pug

if theme.aside.card_recent_post
  include widget/card_recent_post.pug
  
if theme.aside.card_categories   
  include widget/card_categories.pug

if theme.aside.card_tags
  include widget/card_tags.pug

if theme.aside.card_archives
  include widget/card_archives.pug

if theme.aside.card_webinfo
  include widget/card_webinfo.pug
  