header  
  #page-header
    span#blog_name.pull_left
      a#site-name.blog_title(href=url_for('/')) #[=config.title]
    span.toggle-menu.pull_right.close
      a.site-page
        i.fa.fa-bars.fa-fw(aria-hidden="true")
    span.pull_right.menus
      .menus_items
        include menu_item.pug

    if (theme.algolia_search.enable || theme.local_search && theme.local_search.enable)
      span#search_button.pull_right
        a.site-page.social-icon.search
          i.fa.fa-search.fa-fw
          span=' '+_p('search')
