- var no_comment_show = page.comments !== false ? '' : 'no_comment_show'
- var no_toc_show = (is_post() && page.toc != false && theme.toc.enable) ? '' : 'no_toc_show'
#post_bottom(class= no_comment_show + ' ' + no_toc_show)
  #post_bottom_items
    if page.comments !== false
      a#mobile_to_comment(href="#post-comment")
        i.mobile_scroll_to_comment.fa.fa-comments
    
    if (is_post() && page.toc != false && theme.toc.enable)
      i#mobile_toc.fa.fa-list
      #toc_mobile
        .toc_mobile_headline= _p('sidebar.catalog')
        if (page.encrypt == true)
          .toc-div-class(style="display:none")!=toc(page.origin,{"class":"toc_mobile_items"})
        else 
          !=toc(page.content,{"class":"toc_mobile_items"})
        
