.post-reward
  a.reward-button
    i.fa.fa-qrcode
    = ' ' + _p('donate')
    .reward-main
      ul.reward-all
        each item in theme.reward.QR_code
          li.reward-item
            img.lazyload.post-qr-code__img(src=(item.itemlist||item).img)
            .post-qr-code__desc=(item.itemlist||item).text

