.category-content
  ul
    margin-top: .4rem
    padding: 0 0 0 .8rem
    list-style: none
    counter-reset: li

    ul
      padding-left: .5rem

    li
      position: relative
      margin: .3rem 0
      padding: .1rem .5rem .1rem 1.5rem !important

      &:before
        position: absolute
        left: 0
        cursor: pointer
        transition: all .3s ease-out
        $w = .3rem
        top: 10px
        margin-left: .45rem
        width: w = $w
        height: h = w
        border: .5 * w solid $light-blue
        border-radius: w
        background: transparent
        content: ''
        line-height: h
