// chat
if hexo-config('chat_btn') == true && hexo-config('chatra.enable')
  #chatra:not(.chatra--expanded)
    visibility: hidden !important
    width: 1px !important
    height: 1px !important
    opacity: 0 !important
    pointer-events: none
