#disqus_thread
  margin-top: 1rem

.comment_headling
  margin-bottom: 10px
  font-weight: 700
  font-size: 20px

// valine
#vcomment
  font-size: inherit

  input
    font-size: .65rem

  button
    padding: .3rem 1rem
    border-color: #fff
    background-color: $light-blue
    color: #fff
    font-size: .7rem

    &:hover
      background-color: darken($light-blue, 40)

  textarea
    font-size: .7rem

    if hexo-config('valine.bg')
      background: url(hexo-config('valine.bg')) 100% 100% no-repeat

  .info
    display: none

  .vimg
    border: 0

    &:hover
      transform: rotate(540deg)

  .vcount
    font-size: .775rem

  .vnum
    font-size: 1.1rem

  .vsys
    font-size: 80%

  .vtime
    font-size: .65rem

  .vcontent
    font-size: 100%

  .vat
    padding: 0 .8rem
    border: 1px solid $cyan
    border-radius: 5px
    color: $cyan
    font-size: .7125rem

    &:hover
      background-color: alpha($cyan, .5)

  code,
  pre
    font-size: 98%
