#post-comment
  .comment-head
    margin-bottom: 1rem

    .comment-headling
      display: inline-block
      vertical-align: middle
      font-weight: 700
      font-size: 20px

    .comment-switch
      display: inline-block

      if hexo-config('comments.text')
        float: right
        margin: .1rem auto 0
        padding: .2rem .8rem
        width: max-content
        border-radius: 8px
        background: $comments-switch-bg
      else
        > span
          display: none

      .first-comment
        color: $comments-switch-first-text

      .second-comment
        color: $comments-switch-second-text

      label
        position: relative
        display: inline-block
        margin: 0 .4rem
        width: 42px
        height: 22px
        vertical-align: sub

        input#switch-comments-btn
          width: 0
          height: 0
          opacity: 0

          &:checked + .slider
            background-color: $comments-switch-second-text

          &:checked + .slider:before
            transform: translateX(20px)

        .slider
          position: absolute
          top: 0
          right: 0
          bottom: 0
          left: 0
          border-radius: 34px
          background-color: $comments-switch-first-text
          cursor: pointer
          transition: .4s

          &:before
            position: absolute
            bottom: 4px
            left: 4px
            width: 14px
            height: 14px
            border-radius: 50%
            background-color: $comments-switch-round
            content: ''
            transition: .4s

  .comment-wrap
    > div:nth-child(2)
      display: none