#disqus_thread
  margin-top: 1rem

.comment_headling
  font-size: 20px
  font-weight: 700
  margin-bottom: 10px

// valine 
#vcomment
  font-size: inherit
  
  input 
    font-size: 0.65rem

  button 
    font-size: .7rem
    padding: .3rem 1rem
    background-color: $light-blue
    color: #fff
    border-color: #fff

    &:hover
      background-color: darken($light-blue, 40)

  textarea 
    font-size: 0.7rem
    if hexo-config("valine.bg")
      background: url(convert(hexo-config("valine.bg"))) 100% 100% no-repeat

  .info
    display: none
  
  .vimg
    border: 0

    &:hover
      transform: rotate(540deg)
  .vcount
    font-size: 0.775rem

  .vnum 
    font-size: 1.1rem

  .vsys
    font-size: 80%
  
  .vtime
    font-size: .65rem
  
  .vcontent
    font-size: 100%
  
  .vat
    font-size: .7125rem
    color: $cyan
    border: 1px solid $cyan
    padding: 0 .8rem
    border-radius: 5px

    &:hover
      background-color: alpha($cyan,0.5)
  
  code, pre
    font-size: 98%

