#footer
  margin-top: 1rem
  background: $light-blue
  background-attachment: local
  background-position: bottom
  background-size: cover
  position: relative

  if hexo-config('footer_bg') != false
    &:before
      position: absolute
      bottom: 0
      left: 0
      display: block
      content: ''
      width: 100%
      height: 100%
      opacity: 0.5
      background-color: #394245
      background-image: linear-gradient(234deg, #394245 0%, #000 100%)


#footer-wrap
  padding: 1.2rem 1rem 1rem
  color: $light-grey
  text-align: center
  position: relative

  a
    color: $light-grey
    text-decoration: none
    cursor: pointer

    &:hover
      color: $white

  .footer-separator
    margin: 0 0.2rem

  .icp-icon
    padding: 0 4px
    vertical-align: text-bottom

