footer
  margin-top: 1rem
  background: $light-blue
  background-attachment: local
  background-position: bottom
  background-size: cover

#footer
  padding: 1.2rem 1rem 1rem
  color: $light-grey
  text-align: center

  a
    color: $light-grey
    text-decoration: none
    cursor: pointer

    &:hover
      color: $white

  .footer-separator
    margin: 0 0.2rem

