if hexo-config('preloader.enable')
  if hexo-config('preloader.load_style') == 'gear'
    @import './_load_style/gear'
  else if hexo-config('preloader.load_style') == 'wizard'
    @import './_load_style/wizard'
  else if hexo-config('preloader.load_style') == 'cat'
    @import './_load_style/cat'
  else if hexo-config('preloader.load_style') == 'pokeball'
    @import './_load_style/pokeball'
  else if hexo-config('preloader.load_style') == 'image'
    @import './_load_style/image'
  else
    @import './_load_style/default'