#mobile-sidebar
  #menu_mask
    position: fixed
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: 102
    display: none
    background: alpha($dark-black, .8)

  #mobile-sidebar-menus
    position: fixed
    top: 0
    right: -250px
    z-index: 103
    display: block
    overflow: hidden
    overflow-y: scroll
    width: 250px
    height: 100%
    background: #f6f8fa
    transition: all .5s

    & > .mobile_author_icon
      padding: 1.3rem 1.5rem 0
      text-align: center

      img
        width: 110px
        height: 110px
        border-radius: 70px
        transition: all .5s

        &:hover
          transform: rotate(360deg)

    .mobile_post_data
      display: table
      padding: .6rem .5rem 0
      width: 100%
      table-layout: fixed

      .mobile_data_item
        display: table-cell

        .mobile_data_link
          & > a > div
            overflow: hidden
            text-overflow: ellipsis
            white-space: nowrap

          .length_num
            color: $dark-black
            font-size: .9rem

          .headline
            display: block
            color: $font-black
            font-size: .7rem

    hr
      margin: 1rem auto

    .menus_items
      padding: 0 .5rem 2rem

      .site-page
        position: relative
        z-index: 0
        display: block
        overflow: hidden
        margin: 0
        padding: .3rem 1.5rem
        color: $font-black
        text-overflow: ellipsis
        text-shadow: none
        white-space: nowrap
        font-size: .8rem
        cursor: pointer

      i
        width: 30%
        text-align: left

      span
        width: 70%

        &:hover
          color: $light-blue

      .menus-expand
        position: absolute
        right: 0
        padding: 6px
        width: 30px !important
        height: 30px
        transition: all .3s
        transform: rotate(0)

        &.menus-closed
          transition: all .3s
          transform: rotate(180deg) !important

      .menus_item_child
        margin: 0
        list-style: none