#pagination
  overflow: hidden
  margin-top: 1rem
  width: 100%

  .pagination
    text-align: center

  .space
    color: $a-link-color

  .page-number
    display: inline-block
    margin: 0 .2rem
    min-width: w = 1.2rem
    height: w
    text-align: center
    line-height: w
    cursor: pointer

    &.current
      background: $cyan
      color: $white
      cursor: default

  img.prev_cover,
  img.next_cover
    position: absolute
    top: 0
    left: 0
    padding: 0
    width: 100%
    height: 100%
    background-size: cover
    opacity: .4
    transition: all .6s
    pointer-events: none
    object-fit: cover

  .prev_info,
  .next_info
    position: absolute
    bottom: 50px
    z-index: 100
    display: block
    overflow: hidden
    width: 70%
    color: $white
    text-overflow: ellipsis
    white-space: nowrap
    font-weight: 400

  .next_info
    right: 40px
    text-align: right

  .pull-full
    width: 100% !important

  .prev-post .label,
  .next-post .label
    position: absolute
    top: 50px
    z-index: 100
    display: block
    color: alpha($white, .9)
    text-transform: uppercase
    font-size: 90%

  .next-post .label
    right: 40px

  .prev-post,
  .next-post
    float: left
    width: 50%

    a
      position: relative
      display: block
      float: left
      overflow: hidden
      padding: 55px 40px
      width: 100%
      height: 150px
      text-align: left

    &:hover
      img.prev_cover,
      img.next_cover
        opacity: .8
        transform: scale(1.1)

  &.pagination_post
    margin: 2rem 0 !important
    background: $dark-black

@media screen and (max-width: 768px)
  .prev-post,
  .next-post
    width: 100% !important
