if hexo-config("readmode") && hexo-config("readmode.enable")
  .read-mode
    background: $pale-yellow
    padding: 0 !important

    #sidebar,
    #toggle-sidebar
      display: none

    #page-header
      #site-name,
      .site-page,
      .toggle-menu
        text-shadow: none
        color: $font-black
      
      .menus_item_child
        background-color: darken($pale-yellow,5) !important

        &:before
          border-color: transparent transparent darken($pale-yellow,5) !important

    #top-container
      background-image: none !important
      height: 14rem
      background-color: $pale-yellow

      a
        color: $font-black

      &:before
        opacity: 0
     
      #post-info
        text-align: center
        padding: 0
        color: $font-black
      
      #post-title,
      #post-meta
        text-shadow: none
      
    #page-header
      &.fixed
        background: alpha(darken($pale-yellow,5),0.5)
        box-shadow: none

        &.open-sidebar
          .site-page
            display: inline-block
            opacity: 1
        

    .layout_post
      box-shadow: none
      background: $pale-yellow

      &:hover
        box-shadow: none
      
      .article-container 
        pre,
        .highlight
          background: darken($pale-yellow,5);
        
        .highlight
          &:after
            background: darken($pale-yellow,10);
          table 
            &:after
              background: darken($pale-yellow,10);
    
    
    blockquote
      border-left: 0.2rem solid #d6dbdf
      background-color: rgba(102,128,153,.05)
    
    #rightside
      #nightshift
        display: none
      
    canvas
      display: none !important
    
    footer,
    #post-comment,
    hr,
    .relatedPosts,
    #pagination,
    .post-reward,
    .tag_share,
    .post-copyright
      display: none
    
    &::-webkit-scrollbar-thumb
      background: darken($pale-yellow,15)

    *::-webkit-scrollbar-thumb
      background: darken($pale-yellow,15)
    
    .copy-notice
      background: darken($pale-yellow,10)










    



      