.relatedPosts
  margin-top: 40px

  & > .headline
    margin-bottom: 5px
    font-weight: 700
    font-size: 1.43em

  & > .relatedPosts-list
    & > div
      position: relative
      display: inline-block
      overflow: hidden
      margin: 3px
      width: calc(33.333% - 6px)
      height: 200px
      background: $dark-black
      vertical-align: bottom
      @extend .postImgHover

      +maxWidth768()
        margin: 2px
        width: calc(50% - 4px)
        height: 150px

      +maxWidth600()
        width: calc(100% - 4px)

    .content
      position: absolute
      top: 50%
      padding: 0 20px
      width: 100%
      transform: translate(0, -50%)

      .date
        color: var(--light-grey)
        font-size: 90%

      .title
        @extend .limit-more-line
        color: var(--white)
        -webkit-line-clamp: 2
