.post-reward
  margin: 75px auto 0
  width: 100%
  text-align: center

  .reward-button
    position: relative
    z-index: 1
    display: inline-block
    width: 100px
    background: $light-blue
    color: $button-color
    text-align: center
    line-height: 36px
    cursor: pointer

    &:hover
      .reward-main
        display: block

    .reward-main
      position: absolute
      bottom: 40px
      left: 0
      display: none
      margin: 0
      padding: 0 0 15px
      width: 100%
      transition: all .6s

      .reward-all
        display: inline-block
        margin: 0 0 0 -110px
        padding: 20px 10px 8px
        width: 320px
        border-radius: 4px
        background: $reward-pop-up-bg

        &:before
          position: absolute
          bottom: -10px
          left: 0
          width: 100%
          height: 20px
          content: ''

        &:after
          position: absolute
          right: 0
          bottom: 2px
          left: 0
          margin: 0 auto
          width: 0
          height: 0
          border-top: 13px solid $reward-pop-up-bg
          border-right: 13px solid transparent
          border-left: 13px solid transparent
          content: ''

        .reward-item
          display: inline-block
          padding: 0 8px
          list-style-type: none

          img
            position: relative
            max-width: 130px
            width: 130px
            border-radius: 3px

          .post-qr-code__desc
            margin: -5px 0
            color: $reward-pop-up-color
            text-align: center
