#rightside
  position: fixed
  right: -38px
  bottom: $rightside-bottom
  z-index: 100
  opacity: 0
  transition: all .5s

  #rightside-config-hide
    transition: transform .4s
    transform: translate(35px, 0)

    &.show
      transform: translate(0, 0) !important

  & > div
    & > button,
    & > a
      display: block
      margin-bottom: 2px
      width: 30px
      height: 30px
      background-color: var(--btn-bg)
      color: var(--btn-color)
      text-align: center
      font-size: 16px
      cursor: pointer

      &:hover
        background-color: var(--btn-hover-color)

  #rightside_config
    i
      animation: avatar_turn_around 2s linear infinite

  #mobile-toc-button
    display: none

    +maxWidth900()
      display: block

  +maxWidth900()
    #hide-aside-btn
      display: none
