if theme.chatra && theme.chatra.enable
  include ./chatra.pug
else if theme.tidio && theme.tidio.enable
  include ./tidio.pug
else if theme.daovoice && theme.daovoice.enable
  include ./daovoice.pug
else if theme.gitter && theme.gitter.enable
  include ./gitter.pug
else if theme.crisp && theme.crisp.enable
  include ./crisp.pug
else if theme.messenger && theme.messenger.enable
  include ./messenger.pug