.limit-one-line
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap

.limit-more-line
  display: -webkit-box
  overflow: hidden
  -webkit-box-orient: vertical

.fontawesomeIcon
  display: inline-block
  font-weight: 600
  font-style: normal
  font-variant: normal
  font-family: 'Font Awesome 5 Free'
  text-rendering: auto
  -webkit-font-smoothing: antialiased
