if theme.mathjax && theme.mathjax.enable
  if theme.mathjax.per_page
    if is_post() || is_page()
      include ./mathjax.pug
  else
    if page.mathjax
      include ./mathjax.pug

if theme.katex && theme.katex.enable
  if theme.katex.per_page
    if is_post() || is_page()
      include ./katex.pug
  else
    if page.katex
      include ./katex.pug

if theme.mermaid.enable
  include ./mermaid.pug