link(rel="stylesheet" type="text/css" href=theme.asset.katex)
script(src=url_for(theme.asset.katex_copytex))
link(rel="stylesheet" type="text/css" href=theme.asset.katex_copytex_css)
script.
  (() => {
    document.querySelectorAll('#article-container span.katex-display').forEach(item => {
      btf.wrap(item, 'div', { class: 'katex-wrap'})
    })
  })()
  