.btn
  background $theme-color
  border-radius .25rem
  color $button-color !important
  display inline-block
  font-size .875em
  line-height 2
  padding 0 .75rem
  text-decoration none
  transition-property background
  transition-delay 0s
  transition-duration 0.2s
  transition-timing-function ease-in-out
  -webkit-box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  box-shadow 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
  margin-bottom 1rem


  &:hover
    background $theme-paginator-color
    color $button-color !important
    text-decoration none
