s,del
  color: mix(#444, #fff, 60)
  text-decoration-color: @color
u
  color: #444
  text-decoration: none
  border-bottom: 1px solid #FE5F58
emp
  color: #444
  border-bottom: 4px dotted #FE5F58
wavy
  color: #444
  text-decoration-style: wavy
  text-decoration-line: underline
  text-decoration-color: #FE5F58
psw
  color: transparent
  background: mix(#444, #fff, 50)
  border-radius: 2px
  trans()
  &:hover
    color: #444
    background: none
kbd
  display inline-block
  color #666
  font bold 9pt arial
  text-decoration none
  text-align center
  padding 2px 5px
  margin 0 5px
  background #eff0f2
  -moz-border-radius 4px
  border-radius 4px
  border-top 1px solid #f5f5f5
  -webkit-box-shadow inset 0 0 20px #e8e8e8, 0 1px 0 #c3c3c3, 0 1px 0 #c9c9c9,
    0 1px 2px #333
  -moz-box-shadow inset 0 0 20px #e8e8e8, 0 1px 0 #c3c3c3, 0 1px 0 #c9c9c9,
    0 1px 2px #333
  -webkit-box-shadow inset 0 0 20px #e8e8e8, 0 1px 0 #c3c3c3, 0 1px 0 #c9c9c9,
    0 1px 2px #333
  box-shadow inset 0 0 20px #e8e8e8, 0 1px 0 #c3c3c3, 0 1px 0 #c9c9c9,
    0 1px 2px #333
  text-shadow 0 1px 0 #f5f5f5
