.hl-label
  padding: 2px 4px
  color: $btn-color
  addBorderRadius(3)

  &.default
    background-color: $btn-default-color

  for $type in $color-types
    &.{$type}
      background-color: lookup('$tagsP-' + $type + '-color')
