p.p.subtitle
  font-weight: bold
  color: mix(#44D7B6, #444, 75)
  font-size: 1.25rem !important
  padding-top: 1.5rem
  &:first-child
    padding-top: 1rem

span.p,p.p
  &.logo
    font-family: $font-family
  &.code
    font-family: $code-font-family
  &.left
    display: block
    text-align: left
  &.center
    display: block
    text-align: center
  &.right
    display: block
    text-align: right

span.p,p.p
  &.small
    font-size: $font-size
  &.large
    font-size: 2.5rem
    line-height: 1.4
  &.huge
    font-size: 4rem
    line-height: 1.4
  &.ultra
    font-size: 6rem
    line-height: 1.4
  &.small,&.large,&.huge,&.ultra
    margin: 0
    padding: 0
  &.bold
    font-weight: bold
  &.h1,&.h2
    padding-bottom: .2rem
    font-weight: 500
  &.h1
    font-size: 1.625rem
    color: var(--color-h1)
    padding-top: 1em * 2
  &.h2
    font-size: 1.625rem
    color: var(--color-h2)
    padding-top: 1em * 2
    border-bottom: 1px solid alpha(#444, .1)
  &.h3
    font-size: 1.375rem
    color: var(--color-h3)
    padding-top: 1em * 2
  &.h4
    font-size: 1.125rem
    color: var(--color-h4)
    padding-top: 1em * 2
  &.h5
    font-size: 1rem
    color: var(--color-h5)
    padding-top: 1em * 1.5

span.p,p.p
  &.red
    color: #E8453C
  &.yellow
    color: #FCEC60
  &.green
    color: #3DC550
  &.cyan
    color: #1BCDFC
  &.blue
    color: #2196f3
  &.purple
    color: #9c27b0
  &.gray
    color: #999
