// Icon 颜色
// https://flatuicolors.com/palette/defo
.fa,
.fad,
.fal
  &.PINKENV //信封粉
    color:#fb00c5
  &.RSSYELLOW //RSS黄
    color: #ff8303
  &.TURQUOISE //宝石蓝
    color: #1abc9c
  &.EMERALD //青草绿
    color: #2ecc71
  &.PETERRIVE //天蓝
    color: #3498db
  &.AMETHYST //有点紫
    color: #9b59b6
  &.WETASPHALT //偏黑色
    color: #34495e
  &.GREENSEA //绿蓝
    color: #16a08599
  &.NEPHRITIS //更青
    color: #27ae60
  &.BELIZEHOLE //更蓝
    color: #2980b9
  &.WISTERIA //更紫
    color: #8e44ad
  &.MIDNIGHTBLUE //深夜蓝
    color: #2c3e50
  &.SUNFLOWER //向日葵
    color: #f1c40f
  &.CARROT //胡萝卜
    color: #e67e22
  &.ALIZARIN //橘红
    color: #e74c3c
  &.CLOUDS //云朵
    color: #ecf0f1
  &.CONCRETE //混凝土
    color: #95a5a6
  &.ORANGE //橙子
    color: #f39c12
  &.PUMPKIN //南瓜
    color: #d35400
  &.POMEGRANATE //石榴
    color: #c0392b
  &.SILVER //银色
    color: #bdc3c7
  &.ASBESTOS //石棉
    color: #7f8c8d

/* 头图透明 */
#page-header{
  background: transparent!important;
}
/* 页脚透明 */
#footer{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
      background: transparent!important;
    }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
    }	
/*标题居中*/
#page
  h1.page-title
    text-align: center
#post-info
  .post-title
    text-align: center
/*正文大小*/   
#article-container
    font-size: 16.5px
/*豆瓣影单字体*/
#hexo-douban-item3
  .hexo-douban-meta
    font-size: 14px
  .hexo-douban-comments
    font-size: 15px   
/*页脚居左*/    
#footer-wrap
  text-align: left
/*页码颜色*/  
#pagination 
  .page-number
    color: #00ff5a
/*自定义字体*/    
@font-face {
  font-family: 'HYTangMeiRen';
  font-display: swap;
  src: url('https://unpkg.zhimg.com/fontawepro@latest/fonts/hytmr55.woff') format("truetype");
}
/* bber轮播 */
#bber-talk{background:var(--card-bg);color:var(--fontcolor);padding:0.6rem 1rem 0.5rem 1rem;border-radius:12px;cursor:auto;box-shadow:var(--card-box-shadow);display:-webkit-flex;display:flex;-webkit-align-items:center;align-items:center;overflow:hidden;transition:all 0.3s;margin-bottom:-0.2rem;z-index: 10;position: relative;}
#bber-talk:not(a){font-weight:bold;}
#bber-talk svg{fill: currentColor;vertical-align: middle;display: inline;margin-right:5px;}
#bber-talk .talk-list{margin: 0;padding: 0;max-height: 1.6rem;overflow: hidden;margin-bottom: -0.3rem;transition: all 1s ease-in-out;}
#bber-talk .talk-list :hover{color: #49b1f5 !important;transition: all .15s ease-in-out;}
#bber-talk .talk-list li.item a {cursor:pointer;}
#bber-talk .talk-list li {list-style: none;width: 100%;white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}