script.
  (()=>{
    function loadFBComment () {
      if (typeof FB === 'object') FB.XFBML.parse()
      else {
        let ele = document.createElement('script')
        ele.setAttribute('src','https://connect.facebook.net/!{theme.facebook_comments.lang}/sdk.js#xfbml=1&version=v9.0')
        ele.setAttribute('async', 'true')
        ele.setAttribute('defer', 'true')
        ele.setAttribute('crossorigin', 'anonymous')
        document.body.appendChild(ele)
      }
    }
    window.pjax ? loadFBComment() : window.addEventListener('load', loadFBComment)
  })()
