script.
  (() => {
    function loadWaline () {
      function initWaline () {
        let initData = {
          el: null,
          serverURL: '!{theme.waline.serverURL}',
          comment: true
        }
        const waline = Waline.init(initData)
      }

      if (typeof Waline === 'function') initWaline() 
      else getScript('!{url_for(theme.asset.waline_js)}').then(initWaline)
    }

    window.pjax ? loadWaline() : window.addEventListener('load', loadWaline)
  })()
